/* ======================================================= */
/* =====================  GENERAL ======================== */
/* ======================================================= */
:root {
    --primary: limegreen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.row {
    margin-top: 1.5rem;
}

/* ======================================================= */
/* =====================  PROFILE ======================== */
/* ======================================================= */

.profile .name {
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    color: black;

}

.profile .job-title {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: var(--primary);
}

.profile .contact {
    margin-top: 0.2rem;

}

.profile .contact i {
    color: var(--primary);
    font-weight: 600;
}

.profile .contact :is(.phone, .email, .address) {
    font-size: small;
    font-weight: 700;
    color: var(--grey-dark);
}

/* ======================================================= */
/* ===================== headings ======================== */
/* ======================================================= */

h3.heading {
    font-size: x-large;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    border-bottom: 0.17rem solid black;
    margin-bottom: 0.9rem;
}

.para h6 {
    font-weight: 700;
    color: black;
}

.para p {
    padding-top: 0.3rem;
    font-size: small;
    line-height: 1.2;
}

.work {
    padding-bottom: 1rem;
}

.work h5 {
    font-weight: 700;
    color: black;
}

.work span {
    font-weight: 800;
    color: var(--primary);
}


.work .small i {
    padding-right: 0.2rem;
    color: black;
}

.work .small span {
    font-weight: normal;
    color: var(--grey-dark);
    padding-right: 0.7rem;
}

.work ul>li {
    font-weight: normal;
    font-size: small;
    line-height: 1.2;
    color: var(--grey-dark);
    padding-right: 0.7rem;
}

.others {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.others span {
    /* border: 1px solid black; */
    border-radius: 10%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.575);


    font-size: large;
    font-weight: 700;
    margin: 0.1rem 0.3rem;
    line-height: 2.3rem;
    padding: 0.1rem 0.3rem;

}

/* skills */

.skill .progress {
    height: 6px;
    background-color: grey;
}

.skill .progress-bar {
    height: 6px;
    background-color: var(--primary);
    margin-bottom: 5em;
}

.skill span {
    font-size: large;
    color: black;
    font-weight: 700;
    line-height: 2.3rem;
    text-transform: capitalize;
}


.skill .progress-dot-1 {
    width: 20%;
}

.skill .progress-dot-2 {
    width: 40%;
}

.skill .progress-dot-3 {
    width: 60%;
}

.skill .progress-dot-4 {
    width: 80%;
}

.skill .progress-dot-5 {
    width: 100%;
}

/* hack so that it works with print preview  */
.progress {
    position: relative;
}
.progress:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    border-bottom: 2rem solid grey;
}
.progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2rem solid var(--primary);
}


/* hack so that print preview dosen't break the view */

@media print {
    .print-preview-hack {
        max-width: 57%;
    }
}