/* ======================================================= */
/* =====================  GENERAL ======================== */
/* ======================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.row {
    margin-top: 1.5rem;
}

/* ======================================================= */
/* =====================  PROFILE ======================== */
/* ======================================================= */

.profile .name {
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    color: black;

}

.profile .job-title {
    font-size: 1.3rem;
    font-weight: 800;
    text-transform: capitalize;
    color: limegreen;
}

.profile .contact {
    margin-top: 0.2rem;

}

.profile .contact i {
    color: limegreen;
    font-weight: 600;
}

.profile .contact :is(.phone, .email, .address) {
    font-size: small;
    font-weight: 700;
    color: var(--grey-dark);
}

/* ======================================================= */
/* ===================== headings ======================== */
/* ======================================================= */

h3.heading {
    font-size: x-large;
    font-weight: 800;
    color: black;
    text-transform: uppercase;
    border-bottom: 0.17rem solid black;
    margin-bottom: 0.9rem;
}

.para h6 {
    font-weight: 700;
    color: black;
}

.para p {
    padding-top: 0.3rem;
    font-size: small;
    line-height: 1.2;
}

.work {
    padding-bottom: 1rem;
}

.work h5 {
    font-weight: 700;
    color: black;
}

.work span {
    font-weight: 800;
    color: limegreen;
}


.work .small i {
    padding-right: 0.2rem;
    color: black;
}

.work .small span {
    font-weight: normal;
    color: var(--grey-dark);
    padding-right: 0.7rem;
}

.work ul>li {
    font-weight: normal;
    font-size: small;
    line-height: 1.2;
    color: var(--grey-dark);
    padding-right: 0.7rem;
}

.others {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.others span {
    /* border: 1px solid black; */
    border-radius: 10%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.575);


    font-size: large;
    font-weight: 700;
    margin: 0.1rem 0.3rem;
    line-height: 2.3rem;
    padding: 0.1rem 0.3rem;

}